BasedOnStyle: LLVM

# Language
Standard: c++17

# Indentation and layout
IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
NamespaceIndentation: Inner
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
KeepEmptyLinesAtTheStartOfBlocks: false

# Pointer style
PointerAlignment: Left

# Arguments and parameters
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

# Short constructs
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: MultiLine
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

# Line breaking
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
PackConstructorInitializers: CurrentLine
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
BreakStringLiterals: false

# Includes
IncludeIsMainRegex: '([-_](test|unittest))?$'

# Comments
ReflowComments: false

# Spacing
SpaceAfterTemplateKeyword: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeRangeBasedForLoopColon: false
SpacesInContainerLiterals: false