[submodule "ThirdParty/CMSIS-DSP"]
	path = ThirdParty/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP
[submodule "ThirdParty/etl"]
	path = ThirdParty/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "ThirdParty/FreeRTOS-POSIX"]
	path = ThirdParty/FreeRTOS-POSIX
	url = https://github.com/FreeRTOS/Lab-Project-FreeRTOS-POSIX.git
